#container {
    display: grid;
    grid-template: 245px 1fr 300px / 1fr;
}

header {
    display: grid;
    grid-template: 200px 45px / 1fr;
}

#headerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./libraryImage.jpg);
}

header h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5) ;
    font-size: 48px;
    font-family: "Boldonse", sans-serif;
}

nav {
    height: 100%;
    background-color: rgba(83 , 195 , 189, 0.5 );
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#contentHeader {
    font-family: "Boldonse", sans-serif;
    font-size: 32px;
}

main p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin: 20px 0px;
}

.bookContainer {
    padding: 25px;
    width: 1000px;
    display: grid;
    grid-template: 300px / 300px 300px 300px;
    grid-auto-rows: 300px;
    gap: 20px;
    justify-content: center;
}

.bookContainer p {
    margin: 0px;

}