
#container {
    display: grid;
    grid-template: 245px 1fr 300px / 1fr;
}

header {
    display: grid;
    grid-template: 200px 45px / 1fr;
}

#headerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/libraryImage.jpg);
}

header h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5) ;
    font-size: 48px;
    font-family: "Boldonse", sans-serif;
}

nav {
    height: 100%;
    background-color: rgba(83 , 195 , 189, 0.5 );
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#contentHeader {
    font-family: "Boldonse", sans-serif;
    font-size: 32px;
}

main p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin: 20px 0px;
}

#addBook {
    padding: 5px 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: aqua;
    font-family: "Boldonse", sans-serif;
}

#addBook:hover  {
    background-color: #FFFFFF;
}

.bookContainer {
    padding: 25px;
    width: 1000px;
    display: grid;
    grid-template: 300px / 300px 300px 300px;
    grid-auto-rows: 300px;
    gap: 40px;
    justify-content: center;
}

.bookContainer p {
    margin: 0px;

}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border:1px black solid ;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    background-color: #F9EAE5;
}

.card img {
    max-width: 260px;
    max-height: 150px;
    object-fit: contain;
}

.card h3 {
    margin-top: 4px;
}

#cardButtonContainer{
    display: flex;
    margin-top: 5px;
    justify-content: space-evenly;
}

#finishedButton{
    background-color: rgba(83 , 195 , 189, 0.5 );
    border-radius: 4px;
    padding: 0px;
    width: 100px;
}

#finishedButton:hover {
    background-color: #F9EAE5;
}

#deleteButton{
    background-color: #FF7E7A;
    border-radius: 4px;
    padding: 0px;
    width: 100px;
}

#deleteButton:hover{
    background-color: #F9EAE5;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    background-color: rgba(83 , 195 , 189, 0.5 );
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    font-family:"Montserrat", sans-serif ;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 0px;
    justify-content: center;
    gap: 10px;
}

footer li {
    height: 50px;
    width: 50px;
}

#formContainer {
    position: fixed;
    right: 25%;
    margin-top: 100px;
    z-index: 1;
    height: 50vh;
    width: 50vw;
    background-color: #FFFFFF;
    border: 1px solid black;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.5);
    padding-top: 97.5px;
}

#formContainer form {
    display: grid;
    grid-template: 80px repeat(8, 30px) / 1fr;
    align-items: center;
}


#formTitle {
    text-align: center;
    font-family: "Boldonse", sans-serif;
}

.textlabel {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: -15px;
}

input {
    width: 50%;
    justify-self: center;
}

#readStatus {
    display: grid;
    grid-template: 30px 30px 30px / 1fr 1fr;
    align-items: center;
}

#readStatus p{
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

#readStatus input {
    justify-self: end;
    width: 15px;
    margin-right: 10px;
}

#readStatus label {
    justify-self: start;
    padding-top: 3px;
    padding-left: 5px;
    font-family: "Montserrat", sans-serif;
    margin-left: -5px;
}

#formButtonContainer {
    display: flex;
    justify-content: center;
    gap: 80px;
}

#formButtonContainer button {
    width: 100px;
}

#formSubmit {
    background-color: rgba(83 , 195 , 189, 0.5 );
}

#formCancel {
    background-color: #FF7E7A;
}

.modalOpen {
    opacity: 30%;
}

.modalClose{
    display: none;
}